
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}

.word-container {
	background-color: #fff;
	padding: 2vw;
	border: 2vw solid #000000;
	outline: 2vw solid #ffffff;
	width: 70%;
}

.big-word {
	font-family: Arial, sans-serif;
	font-weight: 900;
	font-size: 30vw;
	font-style: italic;
	color: #ffffff;
	text-align: center;
	line-height: 1;
	user-select: none;
	background: #000;
	padding-bottom: 3vw;
}

